.back {
    background-image: url("http://www.andysowards.com/blog/assets/Picking-the-Perfect-Blank-T-Shirt-672x309.jpg");
    /* background-repeat: no-repeat; */
    /* background-color: #bd2d2d; */
    background-size: auto;
    height: 100vh;
   }